
*.db-shm
*.db
*.db-wal
*.opendb
.vs/NYP_Framework/v16/.suo
*.ipch
*.db
*.db-shm
*.db-wal
*.ilk
*.log
*.recipe
*.tlog
App/Debug/App.tlog/unsuccessfulbuild
*.obj
*.lastbuildstate
*.exe
*.pdb
*.idb
*.lib
*.pdb
